<% restaurants ||= [] %>
<% dismissable_class = dismissable ? 'dismissable' : '' %>

<ul class="collapsible popout" data-collapsible="accordion">
  <% restaurants.each do |restaurant| %>
      <li class="<%= dismissable_class %> collection-item restaurant-entry" data-id="<%= restaurant.id %>">
        <div class="collapsible-header">
          <div class="no-margin row valign-wrapper">
            <div class="no-line-height col s4">
              <img class="circle responsive-img" src="<%= restaurant.image_url %>">
            </div>
            <div class="col s8">
              <p class="no-margin"><%= restaurant.name %></p>
              <p class="no-margin">
                <span class="stars"><%= restaurant.rating %></span>
                (<%= display_review_count(restaurant.review_count) %>)
              </p>
              <p class="no-margin <%= restaurant.is_closed ? 'red-text' : 'green-text' %>">
                <%= restaurant.is_closed ? 'Closed' : 'Open' %>
              </p>
            </div>
          </div>
        </div>

        <div class="collapsible-body">
          <p><%= restaurant.address %> (<%= display_distance(restaurant.distance) %> away)</p>
        </div>
      </li>
  <% end %>
</ul>