<h1>Main app</h1>
<div>
  <%= flash[:notice] %>
</div>
<div>
 User count: <%= @user_count %>
</div>
<div>
  Users submitted: <%= @users_submitted %>
</div>
Current user session id: <%= session[:current_user_id] %>
<%= form_tag group_path, method: 'patch'  do  %>
    <table>
      <% @group.restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.id %></td>
            <td><%= label_tag restaurant.id, restaurant.name %></td>
            <td><%= check_box_tag 'id[]', restaurant.id, false, id: restaurant.id %></td>
           <td>User votes: <%= restaurant.user_votes %></td>
          </tr>
      <% end %>
    </table>
    <%= submit_tag 'Finish' %>
<% end %>