<%= javascript_tag do %>
    var GROUP_CODE = '<%= @group.code %>';
    var USER_CHANNEL = '<%= Broadcaster.full_channel(Broadcaster::USER_CHANNEL, @group.code)%>';
    var START_CHANNEL = false;
<% end %>

<div class="row valign-wrapper">
  <div class="col s6">
    <p class="grey-text" style="margin-bottom:0px">Restaurants near</p>
    <h5 class="grey-text" style="margin-top:0px"><%= @group.location %></h5>
  </div>
  <div class="col s6 right-align">
    <%= render 'user_count' %>
  </div>
</div>

<%= render 'restaurants_list', restaurants: @group.restaurants, dismissable: true %>

<%= form_tag app_path, id: 'list-form' do %>
    <div class="center-align">
      <%= submit_tag 'Finish', class: 'btn red accent-2 col 8s', style: 'margin-bottom:25px' %>
    </div>
<% end %>
