<%= javascript_tag do %>
    var GROUP_CODE = '<%= @group.code %>';
    var USER_CHANNEL = '<%= Broadcaster.full_channel(Broadcaster::USER_CHANNEL, @group.code)%>';
    var START_CHANNEL = false;
<% end %>

<p class="grey-text" style="margin-bottom:0px">Restaurants near</p>
<h5 class="grey-text" style="margin-top:0px"><%= @group.location %></h5>

<h4>
  <i class="material-icons" id="user_count_icon">perm_identity</i><span id="user-count" class="emphasis-font"><%= @user_count %></span>
</h4>

<!-- TODO filter closed -->
<ul class="collapsible popout" data-collapsible="accordion">
  <% @group.restaurants.each do |restaurant| %>
      <li class="dismissable collection-item restaurant-entry" data-id="<%= restaurant.id %>">
        <div class="collapsible-header">
          <div class="col s4">
            <img class="responsive-img" src="<%= restaurant.image_url %>">
          </div>
          <div class="col s8">
            <div class="col s9">
              <p><%= restaurant.name %></p>
            </div>
            <div class="col s3 <%= restaurant.is_closed ? 'red-text' : 'green-text' %>">
              <p><%= restaurant.is_closed ? 'Closed' : 'Open' %></p>
            </div>
            <div class="col s8">
              <p><span class="stars"><%= restaurant.rating %></span> (<%= restaurant.review_count %>)</p>
            </div>
          </div>
        </div>
        <div class="collapsible-body">
          <p><%= restaurant.address %> (<%= display_distance(restaurant.distance) %>)</p>
        </div>
      </li>
  <% end %>
</ul>

<%= form_tag app_path, id: 'list-form' do %>
    <div class="center-align">
      <%= submit_tag 'Finish', class: 'btn red accent-2 col 8s', style: 'margin-bottom:25px' %>
    </div>
<% end %>
