<%= javascript_tag do %>
    var GROUP_CODE = '<%= @group.code %>';
    var USER_CHANNEL = '<%= Broadcaster.full_channel(Broadcaster::USER_CHANNEL, @group.code)%>';
    var SUBMITTED_CHANNEL = '<%= Broadcaster.full_channel(Broadcaster::SUBMITTED_CHANNEL, @group.code) %>';
    delete START_CHANNEL;
<% end %>
<h1>Main app</h1>
<div>
  <%= flash[:notice] %>
</div>
<div>
 User count: <span id="user-count"><%= @user_count %></span>
</div>
<div>
  Users submitted: <span id="submitted-count"><%= @submitted_count %></span>
</div>
<div>
  Current user session id: <%= session[:current_user_id] %>
</div>
<div>
  Current user submitted?: <%= @user.submitted %>
</div>
<%= form_tag app_path do %>
    <table>
      <% @group.restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.id %></td>
            <td><%= label_tag restaurant.id, restaurant.name %></td>
            <td><%= check_box_tag 'id[]', restaurant.id, false, id: restaurant.id %></td>
           <td>User votes: <%= restaurant.user_votes %></td>
          </tr>
      <% end %>
    </table>
    <%= submit_tag 'Finish' %>
<% end %>