<%= javascript_tag do %>
    var GROUP_CODE = '<%= @group.code %>';
    var USER_CHANNEL = '<%= Broadcaster.full_channel(Broadcaster::USER_CHANNEL, @group.code)%>';
    var START_CHANNEL = false;
<% end %>

<h1>Main app</h1>
<div>
 User count: <span id="user-count"><%= @user_count %></span>
</div>
<div>
  Current user session id: <%= session[:current_user_id] %>
</div>

<%= form_tag app_path, id: 'list-form' do %>
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @group.restaurants.each do |restaurant| %>
          <li class="dismissable collection z-depth-1 restaurant-entry" style="padding-top:20px" data-id="<%= restaurant.id %>">
            <div class="collapsible-header row" style="margin-bottom: auto; margin-left: auto; margin-right: auto;">
              <div class="col s4">
                <img class="responsive-img" src="<%= restaurant.image_url %>">
              </div>
              <div class="col s8">
                <div class="list-row row">
                  <div class="col s8 flow-text"><%= restaurant.name %></div>
                  <div class="col s4 store-status <%= restaurant.is_closed ? 'red-text' : 'green-text' %>">
                    <%= restaurant.is_closed ? 'Closed' : 'Open' %></div>
                </div>
                <div class="list-row row">
                  <div class="col s8">
                    <p><span class="stars"><%= restaurant.rating %></span></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="collapsible-body">
              <p>Distance: <%= restaurant.distance %>m</p>
              <p>Address: <%= restaurant.address %></p>
              <p>User votes: <%= restaurant.user_votes %></p>
              <p>Review count: <%= restaurant.review_count %></p>
            </div>
          </li>
      <% end %>
    </ul>
    <div class="row"><%= submit_tag 'Finish', class: 'btn-large col s12' %></div>
<% end %>
