<!-- Mobile warning modal -->
<div id="mobile-warning-modal" class="modal">
  <div class="modal-content">
    <h4>Are you on mobile?</h4>
    <p>Unfortunately, this app currently only supports mobile devices. Desktop support coming soon.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
  </div>
</div>

<div id="alert" class="hide"><%= flash[:alert] %></div>

<div class="row">
  <div class="col s12 m6" id="code-card">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Join a group!</span>
        <%= form_tag group_redirect_path do %>
            <%= text_field_tag :code, nil, placeholder: 'Enter group code here' %>
            <div class="right-align">
              <%= button_tag class: 'btn waves-effect waves-light grey darken-1' do %>
                  Join <i class="material-icons right">send</i>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="center-align" id="create-group">
    <%= link_to new_group_path, class: 'waves-effect waves-light btn-large red accent-2' do %>
        <i class="material-icons left">add</i>Create a Group!
    <% end %>
  </div>
</div>
