<h2 style="visibility:hidden">Lezzeat</h2>
<div id="alert" style="display:none"><%= flash[:alert] %></div>
<div class="row">
  <div class="col s12 m6">

    <a href="<%= new_group_path %>">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title">Create a group!</span>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Join a group!</span>
        <%= form_tag group_redirect_path do %>
            <%= text_field_tag :code, nil, placeholder: 'Enter group code here' %>
            <%= submit_tag 'send', class: 'material-icons btn waves-effect waves-light' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
