<div class="card">
  <div class="card-content">
    <span class="card-title">New Group</span>
    <%= form_for @group do |f| %>
        <%= f.label :location, class: 'input-field' %>
        <%= f.text_field :location %>
        <%= f.label :radius %>
        <p class="range-field">
          <%= f.range_field :radius, min: '3', max:'40' %>
        </p>
        <div class="card-action">
          <div class="right-align">
            <%= f.submit 'create', class: 'btn waves-effect waves-light red accent-2' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
