<h1>New Group Page</h1>
<%= form_for @group, class: 'col s12' do |f| %>
    <%= f.label :location, class: 'input-field' %>
    <%= f.text_field :location %>
    <%= f.label :radius %>
    <p class="range-field">
      <%= f.range_field :radius, min: '3', max:'40' %>
    </p>
    <%= f.submit 'create', class: 'btn waves-effect waves-light' %>
<% end %>
