<h1>New Group Page</h1>
<%= form_for @group, class: 'col s12' do |f| %>
    <%= f.label :location, class: 'input-field' %>
    <%= f.text_field :location %>
    <%= f.label :radius %>
    <%= f.text_field :radius %>
    <%= f.submit 'create' %>
<% end %>
