<h1 class="center-align">Result</h1>
<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <% if @gold %>
        <li>
          <div class="collapsible-header row" style='margin-bottom:auto; margin-left:0px; margin-right:0px'>
            <div class="row">
            </div>
            <div class="row">
              <div class = "col s2">
                <div class="row">
                  <h1 class = "center-align">1</h1>
                </div>
                <div class="row">
                  <h5 class="center-align"><%= @gold.user_votes %> votes</h5>
                </div>
              </div>
              <div class = "col s4">
                <img class = "responsive-img" src="<%= @gold.image_url %>">
              </div> <div class = "col s6"> <div class = "row">
              <div class="col s8 flow-text"><%= @gold.name %></div>
              <div class="col s4 store-status <%= @gold.is_closed ? 'red-text' : 'green-text' %>">
                <%= @gold.is_closed ? 'Closed' : 'Open' %></div>
            </div>
              <div class = "row">
                <div class="col s8">
                  <p><span class="stars"><%= @gold.rating %></span></p>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="collapsible-body">
            <p>Distance: <%= @gold.distance ? "#{(@gold.distance/1000.0).round(2)} km" : 'Unknown' %></p>
            <p>Address: <%= @gold.address %></p>
            <p>Review Count: <%= @gold.review_count %></p>
          </div>
        </li>
    <% end %>

    <% if @silver %>
        <li>
          <div class="collapsible-header row" style='margin-bottom:auto; margin-left:0px; margin-right:0px'>
            <div class="row">
            </div>
            <div class="row">
              <div class = "col s2">
                <div class="row">
                  <h1 class = "center-align">2</h1>
                </div>
                <div class="row">
                  <h5 class="center-align"><%= @silver.user_votes %> votes</h5>
                </div>
              </div>
              <div class = "col s4">
                <img class = "responsive-img" src="<%= @silver.image_url %>">
              </div> <div class = "col s6"> <div class = "row">
              <div class="col s8 flow-text"><%= @silver.name %></div>
              <div class="col s4 store-status <%= @silver.is_closed ? 'red-text' : 'green-text' %>">
                <%= @silver.is_closed ? 'Closed' : 'Open' %></div>
            </div>
              <div class = "row">
                <div class="col s8">
                  <p><span class="stars"><%= @silver.rating %></span></p>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="collapsible-body">
            <p>Distance: <%= @silver.distance ? "#{(@silver.distance/1000.0).round(2)} km" : 'Unknown' %></p>
            <p>Address: <%= @silver.address %></p>
            <p>Review Count: <%= @silver.review_count %></p>
          </div>
        </li>
    <% end %>

    <% if @bronze %>
        <li>
          <div class="collapsible-header row" style='margin-bottom:auto; margin-left:0px; margin-right:0px'>
            <div class="row">
            </div>
            <div class="row">
              <div class = "col s2">
                <div class="row">
                  <h1 class = "center-align">3</h1>
                </div>
                <div class="row">
                  <h5 class="center-align"><%= @bronze.user_votes %> votes</h5>
                </div>
              </div>
              <div class = "col s4">
                <img class = "responsive-img" src="<%= @bronze.image_url %>">
              </div> <div class = "col s6"> <div class = "row">
              <div class="col s8 flow-text"><%= @bronze.name %></div>
              <div class="col s4 store-status <%= @bronze.is_closed ? 'red-text' : 'green-text' %>">
                <%= @bronze.is_closed ? 'Closed' : 'Open' %></div>
            </div>
              <div class = "row">
                <div class="col s8">
                  <p><span class="stars"><%= @bronze.rating %></span></p>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="collapsible-body">
            <p>Distance: <%= @bronze.distance ? "#{(@bronze.distance/1000.0).round(2)} km" : 'Unknown' %></p>
            <p>Address: <%= @bronze.address %></p>
            <p>Review Count: <%= @bronze.review_count %></p>
          </div>
        </li>
    <% end %>
  </ul>
</div>
