<!DOCTYPE html>
<html>
<head>
  <title>Digitom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://localhost:9292/faye.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    var CLIENT_URL = '<%= Broadcaster::FAYE_URI %>';
    var USER_CHANNEL = '<%= Broadcaster::USER_CHANNEL %>';
  <% end %>
</head>
<body>
<%= link_to 'App Title', root_path, class: 'navbar-brand' %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
