<!DOCTYPE html>
<html>
<head>
  <title>Lezzeat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://localhost:9292/faye.js', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= javascript_tag do %>
      var CLIENT_URL = '<%= Broadcaster::FAYE_URI %>';
  <% end %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
		<%= link_to 'Lezzeat', root_path, class: 'brand-logo' %>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
